body{
    background-color: #191D32;
    color: white;
    font-family: Helvetica, sans-serif;
    margin: auto;
}

h1{
    text-align: center;
}

table{
    margin: auto;
    width: 50%;
}

td{
    padding: 10px;
    text-align: center;
}

th{
    border: 1px solid #AF1B3F;
    border-radius: 20px;
    padding: 5px;
}

ul{
    list-style-type: none;
}

li{
    padding: 5px;
}

hr{
    width: 50%;
}